body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.healthyLifestyle{
    margin: 100px auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #ddd;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blue-bg {
    background-color: #3498db;
    color: #fff;
}

section .content {
    flex: 1;
    padding-right: 20px;
    margin-left: 20px;
}

section .image {
    flex: 1;
    margin-left: 20px;
    text-align: center;
}

section .image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animateX {
    animation: slideInFromLeft 1s ease-in-out forwards;
}

.animateY {
    animation: slideInFromTop 1s ease-in-out forwards;
}
